# Assignment 3

# 2020136078_심재규

### 1. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [121]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

1) 슬라이싱 [1:3]에 [100]으로 치환했다.

In [122]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

2) 슬라이싱 [1:3]에 [(100)]으로 치환했다.

In [123]:
L=[1, 2, 3, 4, 5]
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

3) 1번 인덱스부터 3번 인덱스 앞까지 치환하므로 서로 다른크기는 불가능하다.

In [124]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

4) 위와 같은 이유로 치환이 불가능하다.

In [125]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

5) 크기는 다르지만 튜플은 치환이 가능하다.

In [126]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

6) 크기는 다르지만 리스트는 치환이 가능하다.

In [127]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

7) 위와 같은 이유로 가능하다.

In [128]:
L=[1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

8) 위와 같은 이유로 가능하다.

### 2. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
* 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
* 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [129]:
S = 'Hello World and Python'

In [130]:
S = S.split()
S = S[::-1]
s = ''
for i in range(len(S)):
    s += S[i] + ' '
S = s.strip()
S

'Python and World Hello'

1. split을 한 후 역순으로 바꿔준다.
2. for in문을 통해 공백을 만들고 strip을 통해 양 끝 공백을 자른다.

In [131]:
S = S.split()
S = ''.join(S)
S

'PythonandWorldHello'

split을 한 후 join을 이용해 문자열을 모두 붙여준다.

### 3. 다음 코드를 보고 물음에 답하시오.
* a = [1, 2, 3]
* b = a * 3
* c = [a] * 3
* print(b)
* print(c)

1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.

* a[0]=0

2) b와 c 객체의 차이는 무엇인가?

In [132]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)
print('')

a[0] = 0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

b는 a의 원소들을 3번 반복하는 객체이며
c는 a를 3번 반복한 객체이다.

b는 a의 원소만을 반복했지만 c가 반복한 a객체의 원소들은 레퍼런스가 동일하기 때문에 a가 바뀌면서 c도 동일하게 바뀐다.

### 4. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)
* s = '  first star   :   second star   :    third star  '
* l = ['first star', 'second star', 'third star']
* 1) for ~ in 문을 이용한 코드를 작성하시오.
* 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [133]:
s = ' first star : second star : third star '
l = s.split(':')
for i in range(len(l)):
    l[i] = l[i].strip()
print(l)

s = ' first star : second star : third star '
l = s.split(':')
l = [l[i].strip() for i in range(len(l))]
print(l)

['first star', 'second star', 'third star']
['first star', 'second star', 'third star']

1. split으로 나눠진 각각의 인덱스를 strip을 통해 정리한다.
2. 리스트 내포를 이용해 작성했다.

### 5. 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
* 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
* addall([1])
* 1
* addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
* 45
* 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
* addallodd([1])
* 1
* addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])
* 25
* [참고 1]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)
* [참고 2]: sum() 등의 내장함수 사용 가능함

In [134]:
def addall(list):
    return sum([i for i in list], 0)
def addallodd(list):
    return sum([i for i in list if (i % 2 == 1)], 0)

list = [1, 2, 3, 4, 5, 6]
print(addall(list))
print(addallodd(list))

21
9

1. 0보다 큰 리스트를 더하는 함수를 작성한다.
2. 홀수 조건문을 추가한 함수를 작성한다.

### 6. 다음 코드를 보고 물음에 답하시오.

* L1 = [1, 2, 3]
* L2 = [4, 5, 6]
* d = {'low':L1, 'high':L2}
* e = d
* f = d.copy()
* print(d)
* print(e)
* print(f)
* print()
* d['low'] = [10, 20, 30]
* d['high'][1] = 500
* print(d)
* print(e)
* print(f)
* 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?
* 2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
* {'high': [4, 500, 6], 'low': [1, 2, 3]}

In [135]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

1. d와 e는 같은 객체를 가리키는 레퍼런스이다.
2. f는 d의 얕은 복사이다. low는 d가 가리키는 레퍼런스가 바뀌었다. high는 원소가 바뀌었을 뿐 레퍼런스는 같다. 따라서 high는 바뀐 값을 따른다. 레퍼런스가 달라지면 얕은 복사는 바뀌지않는다.

### 7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오
* [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
* 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
* 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
* 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
* 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [136]:
def cmp_each_element(a):
    return a[1]

d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
list = []
for (i, j) in d.items():
    list.append((i, j))
print(sorted(list))
print(sorted(list, reverse = True))
print(sorted(list, key = cmp_each_element))
print(sorted(list, key = cmp_each_element, reverse = True))

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

list를 선언한 후 d의 원소들을 append한다.
1. sorted를 선언하면 list의 알파벳 오름차순으로 정렬한다.
2. reverse = True를 통해 내림차순으로 정렬한다.
3. 함수를 통해 키 값을 주고 sorted한다.
4. reverse = True를 통해 내림차순으로 정렬한다.